
@{
    ViewData["Title"] = "Detail";
}

@section css {

    <link rel="stylesheet" href="~/assets/css/pages/blogdetail.css" />

}

<!-- Blog Detail Section Starts -->
<section id="blog-detail-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-4 mb-lg-0">
                <div class="blog-post">
                    <div class="blog-image">
                        <img src="~/assets/images/blog-grid-1.webp" alt="" />
                    </div>
                    <div class="blog-content">
                        <div class="blog-header">
                            <h3 class="blog-title">
                                How BLOG TITLE Made Me A Better Salesperson
                            </h3>
                            <div class="post-detail">
                                <span class="date">
                                    <i class="fa-regular fa-calendar"></i>
                                    7 March, 2022
                                </span>
                                <span class="author">
                                    <i class="fa-regular fa-user"></i>
                                    By John Doe
                                </span>
                            </div>
                        </div>
                        <article class="blog-desc">
                            <p>
                                Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras
                                pretium arcu ex. Aenean posuere libero eu augue
                                condimentum rhoncus. Praesent ornare tortor ac ante
                                egestas hendrerit. Aliquam et metus pharetra, bibendum
                                massa nec, fermentum odio. Nunc id leo ultrices, mollis
                                ligula in, finibus tortor. Mauris eu dui ut lectus
                                fermentum eleifend. Pellentesque faucibus sem ante, non
                                malesuada odio varius nec. Suspendisse potenti. Aenean et
                                tempor eros, vitae sollicitudin velit. Etiam varius enim
                                nec quam tempor, sed efficitur ex ultrices. Phasellus
                                pretium est vel dui vestibulum condimentum. Aenean nec
                                suscipit nibh. Phasellus nec lacus id arcu facilisis
                                elementum. Curabitur lobortis, elit ut elementum congue,
                                erat ex bibendum odio, nec iaculis lacus sem non lorem.
                                Duis suscipit metus ante, sed convallis quam posuere quis.
                                Ut tincidunt eleifend odio, ac fringilla mi vehicula nec.
                                Nunc vitae lacus eget lectus imperdiet tempus sed in dui.
                                Nam molestie magna at risus consectetur, placerat suscipit
                                justo dignissim. Sed vitae fringilla enim, nec ullamcorper
                                arcu. Suspendisse turpis ipsum, tempus in nulla eu,
                                posuere pharetra nibh. In dignissim vitae lorem non
                                mollis. Praesent pretium tellus in tortor viverra
                                condimentum. Nullam dignissim facilisis nisl, accumsan
                                placerat justo ultricies vel. Vivamus finibus mi a neque
                                pretium, ut convallis dui lacinia. Morbi a rutrum velit.
                                Curabitur sagittis quam quis consectetur mattis. Aenean
                                sit amet quam vel turpis interdum sagittis et eget neque.
                                Nunc ante quam, luctus et neque a, interdum iaculis metus.
                                Aliquam vel ante mattis, placerat orci id, vehicula quam.
                                Suspendisse quis eros cursus, viverra urna sed, commodo
                                mauris. Cras diam arcu, fringilla a sem condimentum,
                                viverra facilisis nunc. Curabitur vitae orci id nulla
                                maximus maximus. Nunc pulvinar sollicitudin molestie.
                            </p>
                        </article>
                    </div>
                </div>
                <div class="blog-item">
                    <div class="post-tags">
                        <strong>Tags:</strong>
                        <a href="">Strategy</a>
                        ,
                        <a href="">Best Seller</a>
                        ,
                        <a href="">Detective</a>
                    </div>
                    <div class="social-btns">
                        <a href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="">
                            <i class="fab fa-pinterest-p"></i>
                        </a>
                        <a href="">
                            <i class="fab fa-google-plus-g"></i>
                        </a>
                        <a href="">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
                <div class="related-blogs">
                    <div class="row">
                        <div class="col-lg-12">
                            <h4 class="widget-title">Related Posts</h4>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
                            <div class="blog">
                                <div class="blog-image">
                                    <a href="./blogdetail.html">
                                        <img src="~/assets/images/blog-grid-1.webp" alt="" />
                                    </a>
                                </div>
                                <div class="blog-content">
                                    <h5 class="title">
                                        <a href="./blogdetail.html">
                                            How Library Can Increase Your Profit!
                                        </a>
                                    </h5>
                                    <p class="desc">
                                        Pellentesque vel nibh gravida erat dddd interdum
                                        lacinia vel in lectus. Sed fermentum pulvinar.
                                    </p>
                                    <div class="blog-author-date">
                                        <span class="date">
                                            <i class="fa-regular fa-calendar"></i>
                                            7 March, 2022
                                        </span>
                                        <span class="author">
                                            <i class="fa-regular fa-user"></i>
                                            By John Doe
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="blog">
                                <div class="blog-image">
                                    <a href="./blogdetail.html">
                                        <img src="~/assets/images/blog-grid-2.webp" alt="" />
                                    </a>
                                </div>
                                <div class="blog-content">
                                    <h5 class="title">
                                        <a href="./blogdetail.html">
                                            How Library Can Increase Your Profit!
                                        </a>
                                    </h5>
                                    <p class="desc">
                                        Pellentesque vel nibh gravida erat dddd interdum
                                        lacinia vel in lectus. Sed fermentum pulvinar.
                                    </p>
                                    <div class="blog-author-date">
                                        <span class="date">
                                            <i class="fa-regular fa-calendar"></i>
                                            7 March, 2022
                                        </span>
                                        <span class="author">
                                            <i class="fa-regular fa-user"></i>
                                            By John Doe
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="post-comments">
                    <h4 class="widget-title">1 Comment</h4>
                    <div class="single-comment">
                        <div class="comment-image">
                            <img src="~/assets/images/author-logo.webp" alt="" />
                        </div>
                        <div class="text">
                            <p class="author">Michel Poe</p>
                            <p class=".desc">
                                Donec suscipit porta lorem eget condimentum. Morbi vitae
                                mauris in leo venenatis varius. Aliquam nunc enim, egestas
                                ac dui in, aliquam vulputate erat.
                            </p>
                            <a href="">
                                <i class="fa fa-reply"></i>
                                Reply
                            </a>
                        </div>
                    </div>
                </div>

                <div class="leave-reply">
                    <h4 class="widget-title">Leave a Reply</h4>
                    <div class="reply-form">
                        <form action="">
                            <input type="text"
                                   class="form-control"
                                   placeholder="Your Name" />
                            <input type="email"
                                   class="form-control"
                                   placeholder="Your Email" />
                            <textarea class="form-control"
                                      name=""
                                      id=""
                                      cols="40"
                                      rows="5"
                                      placeholder="Your Message"></textarea>
                            <button class="btn" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="left-side-blog">
                    <div class="widget categories-widget">
                        <h4 class="widget-title">Category</h4>
                        <ul>
                            <li class="cat-item">
                                <a href="">All</a>
                                (3)
                            </li>
                            <li class="cat-item">
                                <a href="">Arts & Photography</a>
                                (3)
                            </li>
                            <li class="cat-item">
                                <a href="">Biographies</a>
                                (3)
                            </li>
                            <li class="cat-item">
                                <a href="">Business & Money</a>
                                (3)
                            </li>
                            <li class="cat-item">
                                <a href="">Children's Book</a>
                                (3)
                            </li>
                            <li class="cat-item">
                                <a href="">Cookbooks</a>
                                (3)
                            </li>
                            <li class="cat-item">
                                <a href="">Comics</a>
                                (3)
                            </li>
                            <li class="cat-item">
                                <a href="">Education</a>
                                (3)
                            </li>
                        </ul>
                    </div>
                    <div class="widget recent-posts">
                        <h4 class="widget-title">Recent Posts</h4>
                        <div class="posts">
                            <div class="post">
                                <div class="image">
                                    <a href="./blogdetail.html">
                                        <img src="~/assets/images/blog-grid-1.webp" alt="" />
                                    </a>
                                </div>
                                <div class="content">
                                    <h6 class="title">
                                        <a href="./blogdetail.html">
                                            Grow to Epiphytic Tropical Plants
                                        </a>
                                    </h6>
                                    <p class="date">7 March, 2022</p>
                                </div>
                            </div>
                            <div class="post">
                                <div class="image">
                                    <a href="./blogdetail.html">
                                        <img src="~/assets/images/blog-grid-2.webp" alt="" />
                                    </a>
                                </div>
                                <div class="content">
                                    <h6 class="title">
                                        <a href="./blogdetail.html">
                                            Grow to Epiphytic Tropical Plants
                                        </a>
                                    </h6>
                                    <p class="date">7 March, 2022</p>
                                </div>
                            </div>

                            <div class="post">
                                <div class="image">
                                    <a href="./blogdetail.html">
                                        <img src="~/assets/images/blog-grid-3.webp" alt="" />
                                    </a>
                                </div>
                                <div class="content">
                                    <h6 class="title">
                                        <a href="./blogdetail.html">
                                            Grow to Epiphytic Tropical Plants
                                        </a>
                                    </h6>
                                    <p class="date">7 March, 2022</p>
                                </div>
                            </div>
                            <div class="post">
                                <div class="image">
                                    <a href="./blogdetail.html">
                                        <img src="~/assets/images/blog-grid-4.webp" alt="" />
                                    </a>
                                </div>
                                <div class="content">
                                    <h6 class="title">
                                        <a href="./blogdetail.html">
                                            Grow to Epiphytic Tropical Plants
                                        </a>
                                    </h6>
                                    <p class="date">7 March, 2022</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="widget archives-widget">
                        <h4 class="widget-title">Archives</h4>
                        <ul>
                            <li class="arc-item">
                                <a href="">January</a>
                                (3)
                            </li>
                            <li class="arc-item">
                                <a href="">February</a>
                                (1)
                            </li>
                            <li class="arc-item">
                                <a href="">March</a>
                                (2)
                            </li>
                            <li class="arc-item">
                                <a href="">April</a>
                                (5)
                            </li>
                        </ul>
                    </div>

                    <div class="widget tags">
                        <h4 class="widget-title">Tags</h4>
                        <div class="all-tags">
                            <a href="">Food</a>
                            <a href="">Business</a>
                            <a href="">News</a>
                            <a href="">Strategy</a>
                            <a href="">Best Seller</a>
                            <a href="">Detective</a>
                            <a href="">Action</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Detail Section Ends -->


@section script {

    <script src="~/assets/js/blogdetail.js"></script>

}

