@model BlogCreateVM

@{
    ViewData["Title"] = "Create";
}

<div class="container mt-5">
    <form class="forms-sample" method="post" asp-action="Create" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Title">Title</label>
            <input asp-for="Title" class="form-control" />
            <span class="text-danger" asp-validation-for="Title"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description">Description</label>
            <textarea class="form-control" style="resize:vertical;" asp-for="Description" rows="60" cols="70"></textarea>
            <span class="text-danger" asp-validation-for="Description"></span>
        </div>

        <div class="form-group">
            <label asp-for="Photos">Image</label>
            <input asp-for="Photos" class="form-control">
            <span class="text-danger" asp-validation-for="Photos"></span>
        </div>

        <div class="form-group">
            <label asp-for="AuthorId">Author</label>
            <select asp-for="AuthorId" asp-items="@ViewBag.blogAuthors" class="form-control">
            </select>
        </div>

        <div class="form-group">

            @for (int i = 0; i < Model.Tags.Count(); i++)
            {
                <input asp-for="Tags[i].Value" type="hidden" class="form-control">
                <input  asp-for="Tags[i].Selected"    /> @Model.Tags[i].Text

            }

        </div>
        <button type="submit" class="btn btn-primary mr-2 mt-5">Submit</button>
        <a class="btn btn-light mt-5" asp-action="Index">Back</a>
    </form>
</div>
