@model ForgotPasswordVM
@{
    ViewData["Title"] = "ForgotPassword";
}

@section css {

    <link rel="stylesheet" href="~/assets/css/pages/forgotpassword.css" />

}

<section id="forgot-password-section">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-5 mb-3 mb-lg-0">
                <div class="forgot-password-form">
                    <h4>Forgot Password</h4>
                    <form method="post" asp-controller="Account" asp-action="ForgotPassword">
                        <div class="row">
                            <div class="col-lg-12 mb-3">
                                <div class="email">
                                    <label asp-for="Email">Email</label>
                                    <input asp-for="Email" class="form-control"
                                           type="text"
                                           placeholder="Enter your email" />
                                    <span asp-validation-for="Email" action="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-12 mb-3">
                                <div class="send-btn">
                                    <button type="submit" class="btn">Send</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section script {

    <script src="~/assets/js/forgotpassword.js"></script>
    <partial name="_ValidationScriptsPartial" />

}