@model ShopVM

@{
    ViewData["Title"] = "Index";
    int productCount = 0;
    foreach (var item in Model.Categories)
    {
        productCount += item.Products.Count();
    }
}

@section css {

    <link rel="stylesheet" href="~/assets/css/pages/shop.css" />

}

<!-- Shop Section Starts -->
<section id="shop-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 order-lg-2">
                <partial name="_ProductsPartial" model="Model.PaginatedDatas" />

            </div>
            <div class="col-lg-3 mt-5 mt-lg-0">
                <div class="left-side-shop">
                    <div class="widget filter-widget">
                        <h4 class="widget-title">Filter by Price</h4>
                        <div class="range-slider">
                            <input type="range"
                                   class="min-price"
                                   value="10"
                                   min="10"
                                   max="500"
                                   step="10"
                                   style="accent-color: #d8d8d8" />
                            <input type="range"
                                   class="max-price"
                                   value="500"
                                   min="10"
                                   max="500"
                                   step="10"
                                   style="accent-color: #d8d8d8" />
                        </div>
                        <div class="price-area">
                            <div style="color: gray">
                                <p>Price:</p>
                            </div>
                            <div>
                                <p id="min-value">10</p>
                            </div>

                            <div>
                                <p id="max-value">500</p>
                            </div>
                            <div class="filter-button">
                                <button>FILTER</button>
                            </div>
                        </div>
                    </div>
                    <div class="widget categories-widget">
                        <h4 class="widget-title">Category</h4>
                        <ul>
                            <li class="cat-item">
                                <a href="">All</a>
                                (@productCount)
                            </li>

                            @foreach (var item in Model.Categories)
                            {
                                <li class="cat-item">
                                    <a href="">@item.Name</a>
                                    (@item.Products.Count())
                                </li>

                            }
                        </ul>
                    </div>

                    <div class="widget top-products">
                        <h4 class="widget-title">Top Products</h4>
                        <div class="products">
                            <div class="product">
                                <div class="image">
                                    <a href="./productdetail.html">
                                        <img src="~/assets/images/product-1.webp" alt="" />
                                    </a>
                                </div>
                                <div class="content">
                                    <h6 class="title">
                                        <a href="./productdetail.html">
                                            Here is a Quick Cure for the Book
                                        </a>
                                    </h6>
                                    <p class="price"><span>$</span>50</p>
                                </div>
                            </div>
                            <div class="product">
                                <div class="image">
                                    <a href="./productdetail.html">
                                        <img src="~/assets/images/product-2.webp" alt="" />
                                    </a>
                                </div>
                                <div class="content">
                                    <h6 class="title">
                                        <a href="./productdetail.html">
                                            Here is a Quick Cure for the Book
                                        </a>
                                    </h6>
                                    <p class="price"><span>$</span>70</p>
                                </div>
                            </div>
                            <div class="product">
                                <div class="image">
                                    <a href="./productdetail.html">
                                        <img src="~/assets/images/product-3.webp" alt="" />
                                    </a>
                                </div>
                                <div class="content">
                                    <h6 class="title">
                                        <a href="./productdetail.html">
                                            Here is a Quick Cure for the Book
                                        </a>
                                    </h6>
                                    <p class="price"><span>$</span>40</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Detail Section Ends -->
<!-- Product Detail Modal Section Starts -->
<section id="product-detail-modal">
    <div class="container">
        <div class="detail-modal d-none">
            <div class="close-modal">
                <i class="fa-solid fa-xmark"></i>
            </div>
            <div class="modal-content">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-6 mb-5 mb-lg-0">
                        <div class="product-image">
                            <img src="~/assets/images/product-1.webp" alt="" />
                            <img src="~/assets/images/product-2.webp" alt="" />
                        </div>
                        <div class="slider-nav-thumbnails">
                            <img src="~/assets/images/product-1.webp" alt="" />
                            <img src="~/assets/images/product-2.webp" alt="" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <div class="product-content">
                            <h1 class="product-name">
                                In 10 Minutes, I'll Give You The Truth About
                            </h1>
                            <div class="price">
                                <span class="actial-price">$50</span>
                                <del class="discount-price">$80</del>
                            </div>

                            <div class="review">
                                <div class="stars">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
                                <span>2 reviews</span>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore
                                magna aliqua.
                            </p>

                            <div class="add-to-cart">
                                <div class="quantity">
                                    <span class="minus">
                                        <i class="fa-solid fa-minus"></i>
                                    </span>
                                    <span class="num">1</span>
                                    <span class="plus">
                                        <i class="fa-solid fa-plus"></i>
                                    </span>
                                </div>
                                <button type="submit">Add to cart</button>
                            </div>

                            <div class="product-extra-buttons">
                                <div class="add-to-wishlist">
                                    <i class="fa-regular fa-heart"></i>
                                    <span>Add to Wishlist</span>
                                </div>
                                <a href="">
                                    <i class="fa-solid fa-arrow-up-from-bracket"></i>
                                    Share this Product
                                </a>
                            </div>

                            <div class="product-meta">
                                <p>SKU: <span>BE45VGRT</span></p>
                                <p>Categories: <span>adventure, children</span></p>
                                <p>Tags: <span>news, strategy, bestseller</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-overlay d-none"></div>
    </div>
</section>
<!-- Product Detail Modal Section Ends -->
@section script {

    <script src="~/assets/js/shop.js"></script>

}
