
@{
    ViewData["Title"] = "Index";
}

@section css {

    <link rel="stylesheet" href="~/assets/css/pages/shop.css" />

}

<!-- Shop Section Starts -->
<section id="shop-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 order-lg-2">
                <div class="shop-toolbar">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="toolbar-status">
                                <span> Showing 1 to 9 of 14 (2 Pages) </span>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="sorting-selection">
                                <span>Sort by:</span>
                                <select class="form-select"
                                        aria-label="Default select example">
                                    <option value="1" selected disabled>Choose option</option>
                                    <option value="2">Sort By Latest</option>
                                    <option value="3">Sort By Name (A-Z)</option>
                                    <option value="4">Sort By Name (Z-A)</option>
                                    <option value="5">Sort By Avarage Rating</option>
                                    <option value="6">Sort By Price:Low To High</option>
                                    <option value="7">Sort By Price:High to Low</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="products">
                    <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
                        <div class="product-card" data-id="1">
                            <div class="product-header">
                                <a class="author" href="">Cpple</a>
                                <h3>
                                    <a asp-action="Detail">Beats EP Wired On-Ear Headphone-Black</a>
                                </h3>
                            </div>
                            <div class="product-card-body">
                                <div class="card-image">
                                    <a asp-action="Detail">
                                        <img src="~/assets/images/product-4.webp" alt="" />
                                    </a>
                                    <div class="hover-content" data-id="1">
                                        <a href="productdetail.html">
                                            <img src="~/assets/images/product-5.webp" alt="" />
                                        </a>
                                        <div class="hover-btns" data-id="1">
                                            <a class="added-cart" href="">
                                                <i class="fas fa-shopping-basket"></i>
                                            </a>
                                            <a class="added-removed-wishlist" href="">
                                                <i class="fas fa-heart"></i>
                                            </a>
                                            <a class="open-modal" href="">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-price">
                                    <span class="price">£51.20</span>
                                    <del class="price-old">£51.20</del>
                                    <span class="price-discount">20%</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
                        <div class="product-card" data-id="2">
                            <div class="product-header">
                                <a class="author" href="">Mpple</a>
                                <h3>
                                    <a href="productdetail.html">Beats Solo3 Wireless On-Ear Headphones 2</a>
                                </h3>
                            </div>
                            <div class="product-card-body">
                                <div class="card-image">
                                    <a href="productdetail.html">
                                        <img src="~/assets/images/product-3.webp" alt="" />
                                    </a>
                                    <div class="hover-content" data-id="2">
                                        <a href="productdetail.html">
                                            <img src="~/assets/images/product-2.webp" alt="" />
                                        </a>
                                        <div class="hover-btns" data-id="2">
                                            <a href="">
                                                <i class="fas fa-shopping-basket"></i>
                                            </a>
                                            <a href="">
                                                <i class="fas fa-heart"></i>
                                            </a>
                                            <a class="open-modal" href="">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-price">
                                    <span class="price">£51.20</span>
                                    <del class="price-old">£51.20</del>
                                    <span class="price-discount">20%</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
                        <div class="product-card" data-id="3">
                            <div class="product-header">
                                <a class="author" href="">Mpple</a>
                                <h3>
                                    <a href="productdetail.html">In 10 Minutes, I'll Give You The Truth About</a>
                                </h3>
                            </div>
                            <div class="product-card-body">
                                <div class="card-image">
                                    <a href="productdetail.html">
                                        <img src="~/assets/images/product-7.webp" alt="" />
                                    </a>
                                    <div class="hover-content" data-id="3">
                                        <a href="productdetail.html">
                                            <img src="~/assets/images/product-6.webp" alt="" />
                                        </a>
                                        <div class="hover-btns" data-id="3">
                                            <a href="cart.html">
                                                <i class="fas fa-shopping-basket"></i>
                                            </a>
                                            <a href="wishlist.html">
                                                <i class="fas fa-heart"></i>
                                            </a>
                                            <a class="open-modal" href="">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-price">
                                    <span class="price">£51.20</span>
                                    <del class="price-old">£51.20</del>
                                    <span class="price-discount">20%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
                        <div class="product-card" data-id="4">
                            <div class="product-header">
                                <a class="author" href="">Dpple</a>
                                <h3>
                                    <a href="productdetail.html">What Can You Do To Save Your BOOK</a>
                                </h3>
                            </div>
                            <div class="product-card-body">
                                <div class="card-image">
                                    <a href="productdetail.html">
                                        <img src="~/assets/images/product-9.webp" alt="" />
                                    </a>
                                    <div class="hover-content" data-id="4">
                                        <a href="productdetail.html">
                                            <img src="~/assets/images/product-8.webp" alt="" />
                                        </a>
                                        <div class="hover-btns" data-id="4">
                                            <a href="cart.html">
                                                <i class="fas fa-shopping-basket"></i>
                                            </a>
                                            <a href="wishlist.html">
                                                <i class="fas fa-heart"></i>
                                            </a>
                                            <a class="open-modal" href="">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-price">
                                    <span class="price">£51.20</span>
                                    <del class="price-old">£51.20</del>
                                    <span class="price-discount">20%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
                        <div class="product-card" data-id="5">
                            <div class="product-header">
                                <a class="author" href="">Dpple</a>
                                <h3>
                                    <a href="productdetail.html">What Can You Do To Save Your BOOK</a>
                                </h3>
                            </div>
                            <div class="product-card-body">
                                <div class="card-image">
                                    <a href="productdetail.html">
                                        <img src="~/assets/images/product-10.webp" alt="" />
                                    </a>
                                    <div class="hover-content" data-id="5">
                                        <a href="productdetail.html">
                                            <img src="~/assets/images/product-11.webp" alt="" />
                                        </a>
                                        <div class="hover-btns" data-id="5">
                                            <a href="cart.html">
                                                <i class="fas fa-shopping-basket"></i>
                                            </a>
                                            <a href="wishlist.html">
                                                <i class="fas fa-heart"></i>
                                            </a>
                                            <a class="open-modal" href="">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-price">
                                    <span class="price">£51.20</span>
                                    <del class="price-old">£51.20</del>
                                    <span class="price-discount">20%</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
                        <div class="product-card" data-id="6">
                            <div class="product-header">
                                <a class="author" href="">Jpple</a>
                                <h3>
                                    <a href="productdetail.html">Rpple iPad with Retina Display MD510LL/A</a>
                                </h3>
                            </div>
                            <div class="product-card-body">
                                <div class="card-image">
                                    <a href="productdetail.html">
                                        <img src="~/assets/images/product-1.webp" alt="" />
                                    </a>
                                    <div class="hover-content" data-id="6">
                                        <a href="productdetail.html">
                                            <img src="~/assets/images/product-12.webp" alt="" />
                                        </a>
                                        <div class="hover-btns" data-id="6">
                                            <a href="cart.html">
                                                <i class="fas fa-shopping-basket"></i>
                                            </a>
                                            <a href="wishlist.html">
                                                <i class="fas fa-heart"></i>
                                            </a>
                                            <a class="open-modal" href="">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-price">
                                    <span class="price">£51.20</span>
                                    <del class="price-old">£51.20</del>
                                    <span class="price-discount">20%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
                        <div class="product-card" data-id="7">
                            <div class="product-header">
                                <a class="author" href="">Dpple</a>
                                <h3>
                                    <a href="productdetail.html">What Can You Do To Save Your BOOK</a>
                                </h3>
                            </div>
                            <div class="product-card-body">
                                <div class="card-image">
                                    <a href="productdetail.html">
                                        <img src="~/assets/images/product-8.webp" alt="" />
                                    </a>
                                    <div class="hover-content" data-id="7">
                                        <a href="productdetail.html">
                                            <img src="~/assets/images/product-7.webp" alt="" />
                                        </a>
                                        <div class="hover-btns" data-id="7">
                                            <a href="cart.html">
                                                <i class="fas fa-shopping-basket"></i>
                                            </a>
                                            <a href="wishlist.html">
                                                <i class="fas fa-heart"></i>
                                            </a>
                                            <a class="open-modal" href="">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-price">
                                    <span class="price">£51.20</span>
                                    <del class="price-old">£51.20</del>
                                    <span class="price-discount">20%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
                        <div class="product-card" data-id="5">
                            <div class="product-header">
                                <a class="author" href="">Dpple</a>
                                <h3>
                                    <a href="productdetail.html">What Can You Do To Save Your BOOK</a>
                                </h3>
                            </div>
                            <div class="product-card-body">
                                <div class="card-image">
                                    <a href="productdetail.html">
                                        <img src="~/assets/images/product-4.webp" alt="" />
                                    </a>
                                    <div class="hover-content" data-id="5">
                                        <a href="productdetail.html">
                                            <img src="~/assets/images/product-5.webp" alt="" />
                                        </a>
                                        <div class="hover-btns" data-id="5">
                                            <a href="cart.html">
                                                <i class="fas fa-shopping-basket"></i>
                                            </a>
                                            <a href="wishlist.html">
                                                <i class="fas fa-heart"></i>
                                            </a>
                                            <a class="open-modal" href="">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-price">
                                    <span class="price">£51.20</span>
                                    <del class="price-old">£51.20</del>
                                    <span class="price-discount">20%</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
                        <div class="product-card" data-id="6">
                            <div class="product-header">
                                <a class="author" href="">Jpple</a>
                                <h3>
                                    <a href="productdetail.html">Rpple iPad with Retina Display MD510LL/A</a>
                                </h3>
                            </div>
                            <div class="product-card-body">
                                <div class="card-image">
                                    <a href="productdetail.html">
                                        <img src="~/assets/images/product-3.webp" alt="" />
                                    </a>
                                    <div class="hover-content" data-id="6">
                                        <a href="productdetail.html">
                                            <img src="~/assets/images/product-2.webp" alt="" />
                                        </a>
                                        <div class="hover-btns" data-id="6">
                                            <a href="cart.html">
                                                <i class="fas fa-shopping-basket"></i>
                                            </a>
                                            <a href="wishlist.html">
                                                <i class="fas fa-heart"></i>
                                            </a>
                                            <a class="open-modal" href="">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-price">
                                    <span class="price">£51.20</span>
                                    <del class="price-old">£51.20</del>
                                    <span class="price-discount">20%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination">
                    <nav aria-label="...">
                        <ul class="pagination">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">1</a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">3</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-3 mt-5 mt-lg-0">
                <div class="left-side-shop">
                    <div class="widget filter-widget">
                        <h4 class="widget-title">Filter by Price</h4>
                        <div class="range-slider">
                            <input type="range"
                                   class="min-price"
                                   value="10"
                                   min="10"
                                   max="500"
                                   step="10"
                                   style="accent-color: #d8d8d8" />
                            <input type="range"
                                   class="max-price"
                                   value="500"
                                   min="10"
                                   max="500"
                                   step="10"
                                   style="accent-color: #d8d8d8" />
                        </div>
                        <div class="price-area">
                            <div style="color: gray">
                                <p>Price:</p>
                            </div>
                            <div>
                                <p id="min-value">10</p>
                            </div>

                            <div>
                                <p id="max-value">500</p>
                            </div>
                            <div class="filter-button">
                                <button>FILTER</button>
                            </div>
                        </div>
                    </div>
                    <div class="widget categories-widget">
                        <h4 class="widget-title">Category</h4>
                        <ul>
                            <li class="cat-item">
                                <a href="">All</a>
                                (3)
                            </li>
                            <li class="cat-item">
                                <a href="">Arts & Photography</a>
                                (3)
                            </li>
                            <li class="cat-item">
                                <a href="">Biographies</a>
                                (3)
                            </li>
                            <li class="cat-item">
                                <a href="">Business & Money</a>
                                (3)
                            </li>
                            <li class="cat-item">
                                <a href="">Children's Book</a>
                                (3)
                            </li>
                            <li class="cat-item">
                                <a href="">Cookbooks</a>
                                (3)
                            </li>
                            <li class="cat-item">
                                <a href="">Comics</a>
                                (3)
                            </li>
                            <li class="cat-item">
                                <a href="">Education</a>
                                (3)
                            </li>
                        </ul>
                    </div>

                    <div class="widget top-products">
                        <h4 class="widget-title">Top Products</h4>
                        <div class="products">
                            <div class="product">
                                <div class="image">
                                    <a href="./productdetail.html">
                                        <img src="~/assets/images/product-1.webp" alt="" />
                                    </a>
                                </div>
                                <div class="content">
                                    <h6 class="title">
                                        <a href="./productdetail.html">
                                            Here is a Quick Cure for the Book
                                        </a>
                                    </h6>
                                    <p class="price"><span>$</span>50</p>
                                </div>
                            </div>
                            <div class="product">
                                <div class="image">
                                    <a href="./productdetail.html">
                                        <img src="~/assets/images/product-2.webp" alt="" />
                                    </a>
                                </div>
                                <div class="content">
                                    <h6 class="title">
                                        <a href="./productdetail.html">
                                            Here is a Quick Cure for the Book
                                        </a>
                                    </h6>
                                    <p class="price"><span>$</span>70</p>
                                </div>
                            </div>
                            <div class="product">
                                <div class="image">
                                    <a href="./productdetail.html">
                                        <img src="~/assets/images/product-3.webp" alt="" />
                                    </a>
                                </div>
                                <div class="content">
                                    <h6 class="title">
                                        <a href="./productdetail.html">
                                            Here is a Quick Cure for the Book
                                        </a>
                                    </h6>
                                    <p class="price"><span>$</span>40</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Detail Section Ends -->
<!-- Product Detail Modal Section Starts -->
<section id="product-detail-modal">
    <div class="container">
        <div class="detail-modal d-none">
            <div class="close-modal">
                <i class="fa-solid fa-xmark"></i>
            </div>
            <div class="modal-content">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-6 mb-5 mb-lg-0">
                        <div class="product-image">
                            <img src="~/assets/images/product-1.webp" alt="" />
                            <img src="~/assets/images/product-2.webp" alt="" />
                        </div>
                        <div class="slider-nav-thumbnails">
                            <img src="~/assets/images/product-1.webp" alt="" />
                            <img src="~/assets/images/product-2.webp" alt="" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <div class="product-content">
                            <h1 class="product-name">
                                In 10 Minutes, I'll Give You The Truth About
                            </h1>
                            <div class="price">
                                <span class="actial-price">$50</span>
                                <del class="discount-price">$80</del>
                            </div>

                            <div class="review">
                                <div class="stars">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
                                <span>2 reviews</span>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore
                                magna aliqua.
                            </p>

                            <div class="add-to-cart">
                                <div class="quantity">
                                    <span class="minus">
                                        <i class="fa-solid fa-minus"></i>
                                    </span>
                                    <span class="num">1</span>
                                    <span class="plus">
                                        <i class="fa-solid fa-plus"></i>
                                    </span>
                                </div>
                                <button type="submit">Add to cart</button>
                            </div>

                            <div class="product-extra-buttons">
                                <div class="add-to-wishlist">
                                    <i class="fa-regular fa-heart"></i>
                                    <span>Add to Wishlist</span>
                                </div>
                                <a href="">
                                    <i class="fa-solid fa-arrow-up-from-bracket"></i>
                                    Share this Product
                                </a>
                            </div>

                            <div class="product-meta">
                                <p>SKU: <span>BE45VGRT</span></p>
                                <p>Categories: <span>adventure, children</span></p>
                                <p>Tags: <span>news, strategy, bestseller</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-overlay d-none"></div>
    </div>
</section>
<!-- Product Detail Modal Section Ends -->
@section script {

    <script src="~/assets/js/shop.js"></script>

}
